<div class="d-flex align-items-center container-form">

    <div class="card w-50 mx-auto">
        <div class="card-body">
            <h3 class="card-title mb-5">Login</h3>

            <form [formGroup]="formLogin" (submit)="onLogin()">
                <div class="row">

                    <div class="col">

                        <div class="form-group">
                            <label for="">Usuario</label>
                            <input type="text" class="form-control" formControlName="user">
                        </div>

                        <div class="form-group mt-4">
                            <label for="">Contraseña</label>
                            <input type="password" class="form-control" formControlName="password">
                        </div>

                    </div>

                    <div class="col d-flex align-items-center justify-content-center">
                        <button type="submit" class="btn btn-primary btn-lg"
                            [disabled]="formLogin.invalid">Ingresar</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>