<div class="d-flex align-items-center mt-4">

    <div class="card w-50 mx-auto">
        <div class="card-body">
            <h3 class="card-title mb-3">Lista</h3>

            <div class="row justify-content-between mb-2" *ngFor="let task of tasks$ | async">

                <div class="col-2">
                    <input type="checkbox" name="" id="" [value]="task.isChecked">
                </div>
                <div class="col-8">{{task.name}}</div>

                <div class="col-2">
                    <button class="btn btn-danger btn-sm" (click)="removeTask(task)">X</button>
                </div>
            </div>

        </div>
    </div>

</div>