<div class="card w-50 mx-auto mt-3">
    <div class="card-body">
        HOLA : {{user$ | async | json}}
        <h5 class="card-title">Bienvenido: {{(user$ | async)?.user}}</h5>
    </div>
</div>

<div class="d-flex align-items-center mt-4">

    <div class="card w-50 mx-auto">
        <div class="card-body">
            <h3 class="card-title mb-3">Tareas</h3>

            <form [formGroup]="formTask" (submit)="addTask()">
                <div class="row">

                    <div class="col">
                        <h6>Tarea:</h6>
                    </div>

                    <div class="col">
                        <input type="text" class="form-control" formControlName="name">
                    </div>

                    <div class="col d-flex align-items-center justify-content-center">
                        <button type="submit" class="btn btn-primary" [disabled]="formTask.invalid">Agregar</button>
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>